* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------ */
/* 回到最頂端按鈕 */
.back {
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(200px);
    transition: all 300ms ease 0ms;
}

.back-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.back img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------------------- */
/* 滾動條 */

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
}

/* -------------------------------------------------------------------------------------- */

.nav-container {
    margin: auto;
    max-width: 1100px;
}

.navigation-bg {
    position: sticky;
    top: 0;
    z-index: 1500;
    /* background-color: rgb(115, 115, 115); */
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.navigation {
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
}

#nav-logo {
    display: block;
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.nav {
    display: flex;
    list-style: none;
}

.navitem {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-a {
    display: block;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 1rem;
}

.nav-a::after {
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: #fff;
    transition: 0.25s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-a:hover::after {
    width: 100%;
}

/* -------------------------------------------------------------------------------------- */

.big-picture {
    position: relative;
    top: -70px;
    margin-bottom: -70px;
    /* height: 500px; */
    height: 100vh;
    background: bottom center url(../../picture/viewpoint/topic.png);
    background-size: cover;
}

/* -------------------------------------------------------------------------------------- */
.topic {
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    /* height: 100px; */
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.topic-item {
    text-decoration: none;
    width: 60px;
    margin-right: 10px;
    font-size: 0.7rem;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}

.topic-pt {
    padding: 5px;
    width: 100%;
    height: 60px;
}

#topic-pt {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------------------- */

.search-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.search {
    height: 60px;
    display: flex;
    justify-content: row;
    align-items: center;
    border-radius: 50px;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 5px;
    background-color: #2f3640;
}

#searchInput {
    background: transparent;
    border: 0px;
    -webkit-text-fill-color: white;
    color: white;
    width: 500px;
    height: 30px;
    font-size: 1rem;
    outline-style: none;
}

.search-pt {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-pt {
    width: 25px;
    height: 25px;
}

#search-button {
    border-radius: 100%;
}

/* -------------------------------------------------------------------------------------- */
.container {
    position: relative;
    z-index: 1;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.vp {
    display: grid;
    max-width: 1300px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item {
    height: 280px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* border: 2px solid black; */
}

.pt {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    /* background-color: aqua; */
}

#item-pt {
    width: 100%;
    height: 100%;
}

.Name {
    width: 100%;
    height: 80px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.name {
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.time {
    width: 260px;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------------------- */

.bigitem {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    /* overflow-y: scroll; */
}

.big-item {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 550px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* background-color: white; */
    border: 5px solid black;
    border-radius: 15px;
    /* background-color: white; */
    background: bottom right url(../../picture/viewpoint/旅遊bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.close {
    cursor: pointer;
    position: absolute;
    z-index: 2100;
    display: inline-block;
    top: 0px;
    right: 0px;
    border-color: black;
    border-style: dashed;
    border-width: 0px 0px 5px 5px;
    /* border-radius: 50%; */
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 0px 10px 0px 0px;
}

.close:hover {
    background-color: #FF2D2D;
}

.close:hover #close {
    transform: rotate(90deg);
    transition: all .2s ease;
}

#close {
    width: 100%;
}

.false {
    max-width: 1300px;
    display: none;
    margin: auto;
    text-align: center;
    line-height: 300px;
    height: 300px;
    font-size: 2rem;
}

/* -------------------------------------------------------------------------------------- */

.swiper-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
}

.swiper {
    width: 100%;
    height: 63%;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination {
    --swiper-theme-color: #fff;
}

#swiper-pt {
    width: 100%;
    height: 100%;
}

.address {
    width: 100%;
    height: 35%;
    /* background-color: bisque; */
    padding: 10px;
    line-height: 1.5;
    font-size: 1rem;
    overflow: auto;
}

.content {
    padding-left: 5px;
    width: 45%;
    height: 100%;
    /* background-color: blue; */
    padding: 10px;
    font-size: 1rem;
    overflow: auto;
}

#long {
    font-size: 1.4rem;
}

/* ------------------------------------------------------------------------------------ */

.footer {
    width: 100%;
    bottom: 0;
    font-size: 0.5rem;
    line-height: 1.5;
    background-color: rgb(12, 14, 23);
    text-align: center;
    color: white;
}

.language {
    cursor: pointer;
}